body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

header {
	background-color: #716464;
	padding: 20px;
}

header h1 {
	margin: 0;
}

ul {
	list-style-type: none;
	padding: 0;
}

li {
	display: inline;
	margin-right: 10px;
}
li a{
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	color:#0e0d0d;
}
li a:hover {
	background-color: #333;
}

a {
	text-decoration: none;
	color: #000000;
}

img {
	width: 1535px;
	height: 297px;
}

main {
	padding: 20px;
}

.products {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 20px;
}

.product {
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.product img {
	width: 100%;
	height: auto;
}

.contact {
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

footer {
	background-color: #f4f4f4;
	padding: 20px;