body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

header {
	background-color: #f1f1f1;
	padding: 20px;
	text-align: left;	
}
header a{
	text-decoration: none;
}

header h1 {
	margin: 0;
	
}
img{
	width: 1535px;
	height: 330px;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: #403b3b;
}

main {
	padding: 20px;
}

.product {
	border: 1px solid #ccc;
	padding: 20px;
	margin-bottom: 20px;
}

footer {
	background: #222;
	border-top: 5px solid #333;
	color: #ccc;
	font-weight: bold;
	height: 50px;
	line-height: 50px;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
}
