.container-chitiet {
    width: 1518px;
    padding: 50px;
    overflow: auto;
    align-items: center;
    justify-content: center;
  }
  #post {
    width: 900px;
    float: left;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
  }
  .img-content{
    align-items: center;
    width: 800px;
    justify-content: center;
  }
  #sidebar{
        width: 350px;
        float: left;
  }