.info-content {
    padding: 20px;
    align-items:center ;
    justify-content: center;
    border: 1px solid rgba(225, 225, 225, 1);
  }

.photo-container {
    float: left;
    margin-right: 10px;
  }

.info-photo {
    width: 200px;
    height: 248px;
  }
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
.thongtin-cocau{
    font-size: 14px;
  }
  .cocau-tochuc{
    padding: 20px;
    position: relative;
    width: 100%;
  }
  .phongban{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
    border-radius: 3px;
  }