.info-box {
    border: 2px solid #007bff;
    width: 500px; /* Adjust as per your requirement */
    padding: 10px;
    font-family: Arial, sans-serif;
  }

  .info-header {
    background-color: #007bff;
    color: white;
    padding: 5px;
    font-size: 16px;
    font-weight: bold;
  }

  .info-content {
    padding: 10px;
  }

  .photo-container {
    float: left;
    margin-right: 10px;
  }

  .info-photo {
    width: 100px; /* Adjust the size as you need */
    height: 130px;
    border: 1px solid #007bff;
  }

  .text-sm {
    font-size: 14px;
  }

  .text-bold {
    font-weight: bold;
  }

  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  .thongtin-cocau{
    font-size: 13px;
  }