body{
    font-family: 'Roboto', sans-serif;
}
.sec1{
    background-image: none;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 1518px;
    background-repeat: repeat;
    background-origin: border-box;
    background-color: rbg(255,255,255);
}
.sec1 a{
    color: rgb(56,176,0);
    cursor: pointer;
    display: flex;
    text-align: start;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    text-decoration: solid;
    text-size-adjust: 100%;
}
.obj-fit{
    width: 40px;
    height: 40px;

}
.anh_head{
    width: 1518px;
}
footer {
    font-family: 'Roboto', sans-serif ;
    flex-direction: column ;
    color:#fff ;
	justify-content: space-between;
    position: absolute;
    background: rgba(56, 176, 0, 1);
    background-size: auto;
    display: flex;

}
footer aside{
    margin-top: 80px;
}
.a-lienhe{
    color: #38B000;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 10px;
    color: inherit;
    text-decoration: none;
    margin-bottom: 10px;
}
.fa-brands{
    margin-left: 10px;
    margin-right: 10px;
    background-color: #FFFFFF;
}
.rft{
    margin-right: 10px;
    text-decoration: none;
    color: #FFFFFF;
}
.toggle{
    background: #38B000;
    text-align: right;
    font-size: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}
