.kenhdichvu {
    z-index: upper;
    align-items: center;
}

.kenhdichvu a {
    text-decoration: none;
    background-color: #38B000;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    border-radius: 10px;
    position: relative;
}

.kenhdichvu a:hover {
    color: rgb(255, 255, 255);
}

.tintuc_sukien {
    display: flex;
    width: 435px;
}

.tuyen_truyen img{
    width: 416px;
    height: 260px;
}

.bangtintuc {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    justify-content: center;
}

.img-big-title {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    color: #38B000;
    text-transform: uppercase;
    justify-content: center;
}

.a-simple {
    color: #38B000;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    border: 5px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 10px;
    color: inherit;
    text-decoration: none;
    font-size: 16px;
}

.img-title {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    display: flex;
    text-decoration: none;
    font-size: 13;
    width: 400px;
}
nav{
    float: none; 
    clear: both;
    width: 40%; 
    margin: 10% auto;
    background: #eee;
  }
  
  nav ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
  }
  
  nav li{
    float: none; 
    width: 100%;
  }
  
  nav li a{
    display: block; 
    width: 100%; 
    padding: 20px; 
    border-left: 5px solid; 
    position: relative; 
    z-index: 2;
    text-decoration: none;
    color: #444;
    box-sizing: border-box;  
    -moz-box-sizing: border-box;  
    -webkit-box-sizing: border-box; 
  }
    
  nav li a:hover{ border-bottom: 0px; color: #fff;}
  nav li:last-child a{ border-left: 10px solid #38B000; }
  nav li a:after { 
    content: "";
    height: 100%; 
    left: 0; 
    top: 0; 
    width: 0px;  
    position: absolute; 
    transition: all 0.3s ease 0s; 
    -webkit-transition: all 0.3s ease 0s; 
    z-index: -1;
  }
  
  nav li a:hover:after{ width: 100%; }
  nav li:last-child a:after{ background: #38B000; }
  
  
  
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    src: local('Roboto'), local('Roboto'), url(http://themes.googleusercontent.com/static/fonts/roboto/v6/boeCNmOCCh-EWFLSfVffDg.woff) format('woff');
  }

