* {
    box-sizing: border-box;}

.gioithieu {
    align-items: center;
    display: flex;
    justify-content: center;
}

.contentgt {
    display: flex;
    text-decoration: none;
    list-style-type: none;
    width: 1200px;
}

.contentgt a {
    text-decoration: none;
}

.contentgt span {
    color: red;
}

.rss {
    width: 44px;
    height: 20px;
    list-style-type: none;
    text-decoration: none;
}

.vi,
.en {
    width: 30px;
    height: 20px;
    list-style-type: none;
    text-decoration: none;
}

.btn-img {
    --font-md: Roboto;
    --mau-md: #38B000;
    --index-md: 1000;
    --b-footer: #38B000;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    font-size: 1rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    margin-top: 30px;
    box-shadow: none;
    border: none;
    background: var(--mau-md);
    color: white;
    padding: 8px 60px;
    border-radius: 30px;
}

.dichvukhac{
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    
}
.dichvukhac a{
    text-decoration: none;
    padding: 20px 20px 20px 20px;
}
.pagination {
	display: inline-block;
}

.pagination a {
	color: rgb(133, 132, 132);
	float: left;
	padding: 8px 16px;
	text-decoration: none;
	text-align: center;
	margin-top: 16px;
}
.dropdown-content_a a {
    text-decoration: none;
    display: block;
    color: black;
    padding: 10px 12px;
}

.dropdown-content_a a:hover {
    background-color: #38B000;
}

.dropdown_a:hover .dropdown-content_a {
    display: block;
}

.dropdown_a {
    position: relative;
    display: inline-block;
    z-index: 3;
}
.dropdown-content_a {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 600px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
    margin-top: 0.25rem;
    left: -500px;
    font-size: 14;
}

.dropdown_a:hover .dropdown-content_a {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}