.vpdt {
    position: absolute;
    width: 150px;
    height: 180px;
    left: 1000px;
    top: 5335px;
}

.tvdt {
    position: absolute;
    width: 150px;
    height: 180px;
    left: 800px;
    top: 5335px;
}

.htt {
    position: absolute;
    width: 150px;
    height: 180px;
    left: 1200px;
    top: 5335px;
}

.csdl {
    position: absolute;
    width: 150px;
    height: 180px;
    left: 200px;
    top: 5335px;
}

.tckq {
    position: absolute;
    width: 150px;
    height: 180px;
    left: 600px;
    top: 5335px;
}

.tsdc {
    position: absolute;
    width: 150px;
    height: 180px;
    left: 400px;
    top: 5335px;
}

.thongbao {
    width: 1518px;
    height: 56px;
    display: flex;
    justify-content: center;

}

.ngonngu {
    list-style-type: none;
    display: flex;
    text-decoration: none;
}
.ngonngu a{
    text-decoration: none;
}
.rss {
    width: 44px;
    height: 20px;
}

.vi {
    width: 30px;
    height: 20px;

}

.en {
    width: 30px;
    height: 20px;
}
.kenhdichvu{
    display: flex;
    height: 227px;
    width: 1518px;
    align-items: center;

}
.kenhdichvu a:hover{
    color: wheat;
}
.item-head-landing{
    text-decoration: none;
    height: 128px;
    background: #38B000;
    width: 400px;
    justify-content: center;
    display: flex;
    text-align: center;
    position: relative;
    left: 129px;
}
.kdv{
    text-decoration: none;
}
/* 
.kenhdichvu div {
    display: flex;
    background: #38B000;
    border-radius: 15px;
    margin-left: 30px;
    height: 126px;
    width: 376px;
    align-items: center;
} */
.rft{
    margin-right: 10px;
    text-decoration: none;
    color: #FFFFFF;
}
.fa-brands{
    margin-left: 10px;
    margin-right: 10px;
    background-color: #FFFFFF;
}