.vpdt {
    position: absolute;
    width: 150px;
    height: 180px;
    left: 1000px;
    top: 5335px;
}

.tvdt {
    position: absolute;
    width: 150px;
    height: 180px;
    left: 800px;
    top: 5335px;
}

.htt {
    position: absolute;
    width: 150px;
    height: 180px;
    left: 1200px;
    top: 5335px;
}

.csdl {
    position: absolute;
    width: 150px;
    height: 180px;
    left: 200px;
    top: 5335px;
}

.tckq {
    position: absolute;
    width: 150px;
    height: 180px;
    left: 600px;
    top: 5335px;
}

.tsdc {
    position: absolute;
    width: 150px;
    height: 180px;
    left: 400px;
    top: 5335px;
}

.thongbao {
    width: 1518px;
    height: 56px;
    display: flex;
    justify-content: center;

}

.ngonngu {
    list-style-type: none;
    display: flex;
    text-decoration: none;
}

.rss {
    width: 44px;
    height: 20px;
}

.vi {
    width: 30px;
    height: 20px;

}

.en {
    width: 30px;
    height: 20px;
}

.kenhdichvu {
    display: flex;
    margin-left: 100px;
    text-transform: uppercase;
    width: 1280px;
    height: 227px;
    text-align: center;
    align-items: center;
    background: #FFFFFF;
    border-radius: 1px;
}

/* 
.kenhdichvu div {
    display: flex;
    background: #38B000;
    border-radius: 15px;
    margin-left: 30px;
    height: 126px;
    width: 376px;
    align-items: center;
} */
.item_td {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    background: rgba(56, 176, 0, 1);
}

.a-simple {
    text-align: center;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    font-family: 'Open Sans', sans-serif ;
    background-color: transparent;
    display: flex ;
    flex-direction: column ;
    align-items: center ;
    margin-bottom: 8px ;
    max-width: 451px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 10px;
    color: inherit;
    text-decoration: none;
}
.connect_footer{
    position: absolute;
    right: 50px;
}
.rft{
    margin-right: 10px;
    text-decoration: none;
    color: #FFFFFF;
}
.fa-brands{
    margin-left: 10px;
    margin-right: 10px;
    background-color: #FFFFFF;
}