.map_view {
    margin-top: 4200px;
}

.vpdt {
    position: absolute;
    width: 150px;
    height: 180px;
    left: 1000px;
    top: 5335px;
}

/* Thudientu */
.tvdt {
    position: absolute;
    width: 150px;
    height: 180px;
    left: 800px;
    top: 5335px;
}


/* Group 27787 */
.htt {
    position: absolute;
    width: 150px;
    height: 180px;
    left: 1200px;
    top: 5335px;
}


/* CSDL */
.csdl {
    position: absolute;
    width: 150px;
    height: 180px;
    left: 200px;
    top: 5335px;
}


/* Tracuuketquathi */
.tckq {
    position: absolute;
    width: 150px;
    height: 180px;
    left: 600px;
    top: 5335px;
}


/* TSDC */
.tsdc {
    position: absolute;
    width: 150px;
    height: 180px;
    left: 400px;
    top: 5335px;
}

aside hr {
    width: 250px;
    margin-right: 1300px;
}

.thongbao {
    width: 1535px;
    height: 56px;
    display: flex;
    justify-content: center;

}

.ngonngu {
    list-style-type: none;
    display: flex;
}

.rss {
    width: 44px;
    height: 20px;
    margin-left: 120px;
}

.vi {
    width: 30px;
    height: 20px;
    margin-left: 30px;
}

.en {
    width: 30px;
    height: 20px;
    margin-left: 30px;
}

.sec3 {
    display: flex;
    margin-left: 100px;
    text-transform: uppercase;
    width: 1535px;
    height: 227px;
    text-align: center;
    align-items: center;
    background: #FFFFFF;
}

.sec3 div {
    display: flex;
    background: #38B000;
    border-radius: 15px;
    margin-left: 30px;
    height: 126px;
    margin-right: 20px;
    width: 376px;
    align-items: center;
}
.ktt {
    font-size: 13;
    font-family: 'Roboto', sans-serif;
    /* background: rgba(56, 176, 0, 1); */
    text-decoration: none;
    margin-top: 5px;
    margin-left: 50px;

}

.dv {
    font-size: 13;
    font-family: 'Roboto', sans-serif ;
    width: 100%;
    text-decoration: none;
    /* background: rgba(56, 176, 0, 1); */
    margin-top: 5px;
    margin-bottom: 5px;
}

.tt {
    font-size: 13;
    font-family: 'Roboto', sans-serif ;
    text-decoration: none;
    /* background: rgba(56, 176, 0, 1); */
    margin-top: 5px;
    margin-left: 50px;
}