.products {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 20px;
	float: right;

}

p {
	text-overflow: ellipsis;
}
.product {
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
}
.product img {
	width: 100%;
	height: auto;
}


h2 {
	margin-bottom: 25px;
}

