body {
  font-family: Arial, sans-serif;
}

header {
  display: flex;
  align-items: center;
}

#searchBar {
  display: none;
  justify-content: flex-end;
  width: 100%;
}

#searchInput {
  margin-right: 10px;
}

#backButton {
  display: none;
}
