.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.fade {
  animation: fade 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
