.container {
  display: flex;
  flex-wrap: wrap;
}

.sidebar {
  width: 30%;
}

.content {
  width: 70%;
}

@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }

  .sidebar {
    order: 2;
    width: 100%;
  }

  .content {
    order: 1;
    width: 100%;
  }
}